@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-4{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.lora-4 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.backgrounds{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.bg-home {
    background-image: url(../img/home-imatge-aferrada-navbar.png);
    height: 600px;
}

.bg-boto {
    background-color:#B22727;
;
}
