@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-4{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

a{
    text-decoration: none;
}

.lora-2 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.lora-4 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-7 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.backgrounds{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.navbar-oscuro {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-home {
    background-image: url(../img/home-imatge-aferrada-navbar.png);
    height: 600px;
}

.bg-home-contact {
    background-image: url(../img/foto-navbar-contact.png);
    height: 600px;
}

.bg-home-new {
    background-image: url(../img/foto-navbar-new.png);
    height: 600px;
}

.bg-home-news {
    background-image: url(../img/foto-navbar-news.png);
    height: 600px;
}

.bg-boto {
    background-color:#B22727;
;
}

.conections-tamany {
    width: 172;
    height: 20;
}

i{
    color: #6C757D;
}

.background-sub-footer{
    background-color: #343A40;
}

.bg-2a-foto-home {
    height: 600px;
    background-image: url("../img/2a-foto-gran-home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tamany-ftos-abaix-home{
    width: 420px;
    height: 350px;
}

.color-texto-news-abaix-home{
    color: #E5E5E5;
}

.bg-transparent{
    background-color: transparent;
}

.text-taronja-fort{
    color: #D4A373;
}

.size-img-copyright{
    width: 50px;
    height: 50px;
}

.bg-back-new{
    background-color: #f0efef;
}

.color-minitexto-header-new{
    color: #E5E5E5;
}